body {
  text-align: center;
}

.word {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 3vh;
}

.letters {
  width: 5vw;
  margin: 1%;
  padding: 1%;
  border-bottom: solid black 2px;
  font-size: 24px;
}

.guessed {
  margin-top: 3vh;
}

input {
  width: 5vw;
  text-align: center;
}
