body {
  text-align: center;
}

form {
  margin-top: 3vh;
}

.word {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 3vh;
}

.letters {
  width: 5vw;
  margin-top: 0;
  margin-left: 1%;
  margin-right: 1%;
  padding: 1%;
  border-bottom: solid black 2px;
  font-size: 24px;
  min-height: 10vh;
}

.guessed {
  margin-top: 3vh;
}

.guess {
  width: 5vw;
  min-width: 40px;
  text-align: center;
}

.info {
  margin-top: 1vh;
}

.pic {
  text-align: right;
}

.difficulty-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.difficulty {
  margin: 5px;
}
